In [48]:
import pandas as pd
import os
import datetime

In [49]:

path = r'/Users/harishsai/Desktop/Padhai/2. University of Chicago/4. Quarter 4/Data Visualizations/CAPP30239_FA22/week_03/Final Project Data'

f_proj_name = "projects.csv"
f_transactions_name = "transactions.csv"
f_locations_name = "locations.csv"

projects = pd.read_csv(os.path.join(path, f_proj_name))
transacitons = pd.read_csv(os.path.join(path, f_transactions_name))
locations = pd.read_csv(os.path.join(path, f_locations_name))

In [50]:

pd.set_option('display.float_format', lambda x: '%.2f' % x)

df = projects.merge(transacitons, on='project_id', how='left')
df = df.drop(['start_actual_isodate', 'start_actual_type', 'end_actual_isodate', 'end_actual_type', 'transaction_id', 'transaction_isodate', 'transaction_value_code'], axis=1)
df = df[df['transaction_year'] > 2003]
df.sort_values(by=['transaction_year'])

df['Primary Sector'], df['Addtional Sectors'] = df['ad_sector_names'].str.split('|', 1).str

df = df.drop('Addtional Sectors', axis = 1)

df = df.replace('Health, general', 'Health')
df = df.replace({'Primary Sector':{'Agriculture':'Agriculture, forestry, fishing',
                                    'Forestry':'Agriculture, forestry, fishing'}})
df = df.replace({'Primary Sector':{'Post-secondary education':'Education',
                                    'Secondary education':'Education',
                                    'Education, level unspecified':'Education',
                                    'Basic Education': 'Education'}})

/var/folders/rs/84w2z2717dbf91k9ffgl2g980000gn/T/ipykernel_19839/4214851404.py:8: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df['Primary Sector'], df['Addtional Sectors'] = df['ad_sector_names'].str.split('|', 1).str
/var/folders/rs/84w2z2717dbf91k9ffgl2g980000gn/T/ipykernel_19839/4214851404.py:8: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df['Primary Sector'], df['Addtional Sectors'] = df['ad_sector_names'].str.split('|', 1).str

In [51]:
# Disbursements and Commitments each Year

projects_year = df.groupby('transaction_year').sum()
projects_year = projects_year.drop(['is_geocoded', 'transactions_start_year', 'transactions_end_year'], axis = 1)
projects_year = projects_year.reset_index()

/var/folders/rs/84w2z2717dbf91k9ffgl2g980000gn/T/ipykernel_19839/2952305275.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  projects_year = df.groupby('transaction_year').sum()

In [52]:
sector = df.groupby('Primary Sector').size()
sector = sector.to_frame(name = 'size').reset_index()

In [53]:
projects_year_sector = df.groupby(['transaction_year', 'Primary Sector']).size()
projects_year_sector.to_frame(name = 'size').reset_index()

     transaction_year                            Primary Sector  size
0             2004.00            Agriculture, forestry, fishing    66
1             2004.00            Banking and financial services    45
2             2004.00                           Basic education     4
3             2004.00                            Communications    22
4             2004.00                                 Education    64
..                ...                                       ...   ...
154           2014.00              Mineral resources and mining     5
155           2014.00  Other social infrastructure and services    50
156           2014.00              Trade policy and regulations     4
157           2014.00                     Transport and storage    24
158           2014.00               Water supply and sanitation    68

[159 rows x 3 columns]

In [54]:

ids = df['project_id'].unique()
locations = locations[locations['project_id'].isin(ids)]

In [56]:

send_path = r'/Users/harishsai/Desktop/Padhai/2. University of Chicago/4. Quarter 4/Data Visualizations/CAPP30239_FA22/Data'

df.to_csv(os.path.join(send_path, 'Final Project Data - WBG Projects.csv'), index=False)
locations.to_csv(os.path.join(send_path,'Final Project Data - WBG Locations.csv'), index=False)
projects_year.to_csv(os.path.join(send_path,'Final Project Data - WBG Total Money per Year.csv'), index=False)
sector.to_csv(os.path.join(send_path,'Final Project Data - WBG Counts for each Sectors.csv'), index=False)
projects_year_sector.to_csv(os.path.join(send_path,'Final Project Data - WBG Counts for each Sectors per Year.csv'), index=False)